<ion-header>
  <ion-toolbar color="secondary">

    <!-- GO BACK BUTTON
    <ion-buttons slot="start">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Profile</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-button slot="end" color="tertiary" (click)="logoutAction()">Log out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-row>
    <img src="../../assets/icon/favicon.png" class="img-center" />
  </ion-row>

  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="fixed" color="secondary">Name</ion-label>
      <ion-input readonly>Rupeekshan Maheswaran</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed" color="secondary">Email</ion-label>
      <ion-input readonly>rnrupeekshan@gmail.com</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed" color="secondary">Password</ion-label>
      <ion-input readonly>Sample password</ion-input>
    </ion-item>
  </ion-list>
</ion-content>

